/* Global Styles */
body {
  background-color: #11071f;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* Application Container */
.App {
  width: 50%;
  margin: 0 auto;
}

/* Navigation Bar */
.nav-container {
  background-color: #1a0b2e;
  padding: 10px 0;
}

.nav {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  width: 50px;
  height: auto;
}

ul {
  display: flex;
  list-style: none;
  gap: 100px;
}

.menu-item {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-item:hover {
  text-decoration: underline;
}

/* Hero Section */
.hero-section {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 100px 0;
}

.hero-content {
  display: flex;
  position: relative;
  justify-content: left;
}

.profile img.Me {
  width: 150px;
  height: 150px;
}

.test p {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: white;
}

#designer {
  font-size: 17px;
  letter-spacing: 2%;
  line-height: auto;
  text-align: left;
  margin: 0;
}

#profile {
  width: 380px;
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 126.7%;
  text-align: left;
  margin: 0;
}

#Mathieu {
  border: 2px solid #ffffff;
  border-radius: 100%;
  padding: 5px;
  color: #7127ba;
}

#Because {
  font-size: 11px;
  letter-spacing: 2%;
  line-height: auto;
  text-align: left;
}

/* Introduction Section */
.intro {
  display: flex;
  margin-top: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  flex-direction: column;
}

.intro h2 {
  font-size: 50px;
  letter-spacing: 2%;
  font-weight: normal;
  margin: 0;
}

.intro p img {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

#Facebook {
  vertical-align: bottom;
  color: #1877f2;
}

.intro-description {
  margin: 50px 0;
}

/* Work Experience Section */
.work-experience {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  box-sizing: border-box;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  background-image: linear-gradient(135deg, #1a0938 10%, #1a0b2e 100%);
  gap: 30px;
}

.icon {
  margin-bottom: 10px;
}

.icon img {
  width: 50px;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content h3 {
  margin: 10px 0;
}

.content p {
  margin: 0;
  font-size: 10.5px;
}

.content button {
  margin-top: 10px; /* Space between text and button */
  padding: 10px 20px;
  border: 2px solid #693b93;
  background-color: #2c1250;
  border-radius: 5px;
  font-size: 10.5px;
  cursor: pointer;
  opacity: 0.8;
  color: white;
}

/* Learning Section */
.learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

.competence {
  display: flex;
  padding: 50px;
  margin: 50px;
  height: fit-content;
  width: 300px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons img {
  margin-bottom: 10px;
  width: 40px;
}

/* Projects Section */
.projects {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #9857d3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  padding: 50px 0;
}

/* Contact Section */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

.gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
