/* reset css https://www.alsacreations.com/astuce/lire/36-la-technique-du-reset-css.html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #11071f;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

/* Application Container */
.App {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header,
.nav-container {
  background-color: #1a0b2e;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a0b2e;
  padding: 10px 20px;
}

.logo {
  width: 50px;
}

.nav-container {
  height: 113px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
  gap: 150px;
}

.menu-item {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-item:hover {
  text-decoration: underline;
}

.layout {
  max-width: 1000px;
  margin: auto;
  padding: 50px 30px;
}

/* Hero Section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  padding-top: 200px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.hero-content span {
  display: block;
  font-size: 11px;
}

.hero-content h1 {
  font-size: 51px;
  line-height: 105%;
}

.hero-content h1 .job {
  text-decoration: underline;
  font-size: 17px;
}

.hero-content h1 em {
  color: #7127ba;
}

.hero-content h1 .subline {
  font-size: 11px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile img.Me {
  width: 150px;
  height: 150px;
}

#Mathieu {
  border: 2px solid #ffffff;
  border-radius: 100%;
  padding: 5px;
  color: #7127ba;
}

/* Introduction Section */
.intro {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}

.intro p:last-child {
  margin-top: 70px;
}

.intro h2 {
  font-size: 50px;

  .intro p img {
    width: 20px;
    height: 20px;
  }
}
#Facebook {
  vertical-align: bottom;
  color: #1877f2;
}

/* Work Experience Section */
.work-experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 20px;
  box-sizing: border-box;
  margin: auto;
  max-width: 1000px;
}

.work-experience h2 {
  display: flex;
  font-size: 2rem;
  font-family: "Preahvihear", sans-serif;
  color: #ccd6f6;
  padding: 50px 0;
  margin-top: 0;
  align-items: flex-start;
  text-align: left;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1200px) {
  .nav-container {
    flex-direction: column;
  }
}
/* on peut garder cette position pour le responsive .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  background-image: linear-gradient(135deg, #1a0938 10%, #1a0b2e 100%);
  gap: 20px;
}
  .work-experience .card .content {
  display: flex;
  flex-direction: column;
}

.work-experience .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.work-experience .card {
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}
*/
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
  background-image: linear-gradient(135deg, #1a0938 10%, #1a0b2e 100%);
  gap: 20px;
}

.card img {
  width: 50px;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h3 {
  margin: 10px 0;
  text-align: left;
  justify-content: flex-start;
}
.content p {
  margin: 0;
  font-size: 10.5px;
}

.content button {
  margin-top: 10px;
  padding: 10px 20px;
  border: 2px solid #693b93;
  background-color: #2c1250;
  border-radius: 5px;
  font-size: 10.5px;
  cursor: pointer;
  opacity: 0.8;
  color: white;
}

@media (max-width: 900px) {
  .work-experience {
    flex-direction: column;
    align-items: center;
  }
}
/* Learning Section */
.learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}
/* competence a finir */
.competence {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 50px 20px;
  box-sizing: border-box;
  margin: auto;
  max-width: 1000px;
}

/* Projects Section */
#special {
  font-size: 18px;
  font-family: "Poppins", SemiBold;
  color: #9857d3;
  margin: 0 20px;
}

#example {
  font-size: 34px;
  font-family: "Poppins", SemiBold;
  color: #ccd6f6;
}

.projects h2 {
  font-size: 2rem;
  font-family: "Poppins", SemiBold;
  color: #ccd6f6;
  padding: 10px 0;
  margin-top: 0;
}

/* Contact Section */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  gap: 10px;
  margin: 0 100px;
}
.contact-title {
  display: block;
  font-size: 2rem;
  font-family: "Poppins", SemiBold;
  color: #ccd6f6;
  padding: 10px 0;
  margin-top: 0;
  position: absolute;
}

.contact h2 {
  display: flex;
  font-size: 2rem;
  font-family: "Preahvihear", SemiBold;
  color: #ffffff;
  font-size: 25px;
  padding: 50px 0;
  margin-top: 0;
  align-items: flex-start;
  text-align: left;
  box-sizing: border-box;
  margin: 0 20px;
}

.contact p {
  margin-top: 20px;
  padding: 0;
}

@media (max-width: 768px) {
  .nav,
  .hero-section,
  .intro,
  .work-experience,
  .competence,
  .projects,
  .contact {
    padding: 10px;
    margin: 0;
  }

  .hero-section {
    margin: 50px 10px;
  }

  ul {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .logo,
  .menu-item {
    left: auto;
  }
}

.rectangle {
  width: 100%;
  position: relative;
  z-index: -1;
}

.projects {
  width: 40%;
  margin-left: 10px;
  padding: 10px;
}
.Contenu .Maskgroup-image {
  width: 100px;
  height: auto;
  display: block;
  margin: 10px 0;
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}
.work-experience .card .content button {
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  align-self: start;
}
.containers {
  display: flex;
  width: 100%;
  padding: 10px;
  font-size: 24px;
  display: flex;
  justify-content: right;
  align-items: end;
  padding: 10px 20px;
}

.detail {
  width: 100%;
  padding: 10px;
  background: #3a284b 50%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.17);
  margin: 0 150px;
  position: relative;
  z-index: 1;
}
.detail2 {
  width: 100%;
  padding: 10px;
  background: #3a284b 50%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.17);

  position: relative;
  z-index: 1;
}
.work-experience .card .content {
  display: flex;
  flex-direction: column;
}

.work-experience .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.work-experience .card {
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.containers .contenu {
  display: flex;
  font-size: 2rem;
  font-family: "Preahvihear", sans-serif;
  color: #ccd6f6;
  padding: 50px 0;
  margin-top: 0;
  align-items: flex-start;
  text-align: left;
  box-sizing: border-box;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.preahvihear-regular {
  font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1400px;
  width: 1400px;
}

.project-item {
  display: flex;
  gap: 20px;
}

.text-container {
  flex: 1;
  padding: 20px;
}

.image-container {
  flex: 2;
  position: relative;
}

.image-container img {
  display: block;
  width: 100%;
}
